body {
	background-color: #4484CE;
}
h2	{
	font-size: 30px;
	color: #4484CE;
	font-family: Georgia, Arial;
}
p	{
	font-size: 20px;
}

ul	{
	font-size: 20px;
}

.title {
	/*--background-color: Blue;*/
	padding: 0px;
	text-align: center;
	position: relative;
	color: white;
	width: 100%;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 10px;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 100px;
	transform: translate(-50%, -50%);
}

.main {
	background-color: WHITE;
	padding: 10px;
	color: black;
	font-family: Garamond, Arial;
}

a	{
	color: black;
}

.button	{
	height: 40px;
	display: inline-block;
	background-color: White;
	border: 1px solid black;
}

.socialmedia	{
	display: inline-block;
	position: absolute;
	right: 10px;
}

.buttonbox	{
	margin-top: 5px;
	margin-bottom: 5px;
}