body {
	background-color: #4484CE;
}
h2	{
	font-size: 30px;
}
p	{
	font-size: 20px;
}

ul	{
	font-size: 20px;
}

.title {
	/*--background-color: Blue;
	padding: 10px;*/
	text-align: center;
	position: relative;
	color: white;
	width: 100%;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 10px;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 100px;
	transform: translate(-50%, -50%);
}

.main {
	background-color: WHITE;
	padding: 10px;
}