h2	{
	font-size: 30px;
	color: #4484CE;
	font-family: Georgia, Arial;
}
p	{
	font-size: 20px;
}

ul	{
	font-size: 20px;
}

img	{
	overflow: hidden;
}

.title {
	/*--background-color: Blue;*/
	padding: 0px;
	text-align: center;
	position: relative;
	color: white;
	width: 100%;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 10px;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.main {
	background-color: WHITE;
	padding: 10px;
	color: black;
	font-family: Garamond, Arial;
	margin-left: 2%;
	margin-right: 2%;
}

.main h3{
	font-size: 25px;
}

.twentypadding {
	padding-left: 20%;
	padding-right: 20%;
	margin-left: 2%;
	margin-right: 2%;
}

a	{
	color: black;
}

.button	{
	height: 40px;
	display: inline-block;
	background-color: White;
	border: 1px solid black;
	border-radius: 10px;
}

.socialmedia	{
	display: inline-block;
	position: absolute;
	right: 2%;
}

.buttonbox	{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 2%;
}

.buttonbox a{
	text-decoration: none;
}

.gif	{
	border: 1px solid black; 
	display:inline-block;
}

#portfolio h1{
	font-size: 60px;
	color: #4484CE;
	font-family: Georgia, Arial;
}

footer {
    background-color: #2f6283;
    color: white;
    padding: 10px;
	margin-left: 2%;
	margin-right: 2%;
}

#githublink {
	color: white;
}

    